---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Availability from '../components/Availability.astro'
import Cars from '../components/Cars.astro'
import Van from '../components/Van.astro'
import Wedding from '../components/Wedding.astro';
import Madrid from '../components/Madrid.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout title="Lesscar | Alquiler de coches en Madrid">
	<!-- <Nav></Nav> -->
	 <Navigation></Navigation>
	<Hero ></Hero>
	<Availability title="Disponibilidad"></Availability>
	<Cars></Cars>
	<Van></Van>
	<Wedding></Wedding>
	<Madrid></Madrid>
	<Footer></Footer>
</Layout>

<style>

</style>