---
const { href, content, type = 'light' } = Astro.props;
---

<a href={href}>
    <button class={`button ${type}`}>
        <slot />
            {content}
    </button>
    </a>

<style>
    .button {
        border: none;
        padding: 1vw 4vw;
        font-family: 'General Sans';
        font-weight: 600;
        color: white;
        font-size: 1.4vw;
        border-radius: 20px;
        max-width: fit-content;
        cursor: pointer;
    }

    .button.light {
        background-color: #1AAA88;
    }

    .button.dark {
        background-color: #00332C
    }

    .button:hover {
        background-color: #115a49;
    }

</style>