---
const { href, content, type = 'light' } = Astro.props;
---

<a href={href}>
    <button class={`button ${type}`}>
        <slot />
            {content}
    </button>
    </a>

<style>
    .button {
        border: none;
        padding: 1vw 4vw;
        font-weight: 600;
        color: white;
        font-size: 1.4vw;
        border-radius: 2vw;
        max-width: auto;
        cursor: pointer;
    }

    .button.light {
        background-color: #1AAA88;
    }

    .button.dark {
        background-color: #00332C
    }

    .button:hover {
        background-color: #115a49;
    }

    /* Estilos para pantallas pequeñas (dispositivos móviles) */
    @media (max-width: 768px) {
        .button {
            font-size: 4vw;
            padding: 5vw;
            font-weight: 600;
            border-radius: 4vw;
            width: 100%; /* Hace que el ancho del botón ocupe todo el ancho de la pantalla */
            box-sizing: border-box; /* Incluye el padding y border dentro del ancho total */
            z-index: 1;
            position: relative;
    }
}

</style>