<section>
    <h2 class="bold">Escoge el coche que se adapta a ti</h2>
    <div class="scroll-container">
        <a href=""><img src="/img/imagendemuestra.png" alt="Fiat 500"></a>
        <a href=""><img src="/img/imagendemuestra.png" alt="Mercedes Clase C"></a>
        <a href=""><img src="/img/imagendemuestra.png" alt="Mini Countryman"></a>
        <a href=""><img src="/img/imagendemuestra.png" alt="Seat Altea"></a>
    </div>
</section>
<style>
    section {
        margin-top: 100px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

   .scroll-container {
    display: flex;
    overflow: none;
    margin-top: 50px;
    white-space: nowrap;
    margin-bottom: 50px;
   }

   h2 {
    color: white;
   }

    img {
    max-width: 100%;
    width: 300px;
    justify-content: space-between;
    margin-right: 10px;
   }

</style>