<section>
    <div>
        <a href="index.html"><img src="/img/logo2.svg" alt=""></a>
        <ul>
            <li><a href="">Blog</a></li>
            <li><a href="">Newsletter</a></li>
            <li><a href="">Política de privacidad</a></li>
        </ul>
        <ul>
            <li><a href="">Alquila un coche</a></li>
            <li><a href="">Cómo funciona</a></li>
            <li><a href="">Normas de seguridad</a></li>
        </ul>
    </div>
</section>
<style>
    section {
        background-color: #01332C;
        width: 100%;
        margin: 0 auto;
        padding-top: 7vw;
        padding-bottom: 5vw;
    }

    img {
        max-width: fit-content;
        width: 8vw;
    }

    div {
        display: flex;
        justify-content: space-evenly;
    }

    ul {
        list-style: none;
    }

    li {
        padding-top: 1vw;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }
</style>