---
import Button from './Button.astro'
---
<section>
    <div class="hero">
        <div class="left">
            <h1>Alquiler de coches en Madrid</h1>
        </div>
        <div class="right">
             <img src="/img/cocheprincipal.png" alt="Coche de alquiler">
        </div>
    </div>
    <Button href="" content="Reserva ahora" type="light"></Button>
</section>

<style>
    html {
        overflow-x: hidden;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-left: 8vw;
        max-width: 100%;
    }

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: start;
        overflow: hidden;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: left;
        max-width: 60%;
        position: relative;
        margin-top: 4vw;
    }

    .right {
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 45vw;
        top: 0vw;
        z-index: 0;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        width: 115vh;
    }

    /* Estilos para pantallas pequeñas (dispositivos móviles) */
    @media (max-width: 768px) {
        section {
            margin-right: 5vw;
            margin-bottom: 35vw;
        }

        .left {
            max-width: 80%;
            margin-bottom: 1vw;
        }

        .right {
            left: 25vw;
            top: 30vw;
        }

        img {
            width: 75vw;
        }
    }

</style>