---
import Button from './Button.astro'
---
<section>
    <div class="hero">
        <div class="left">
            <h1>Alquiler de coches en Madrid</h1>
            <Button href="" content="Reserva ahora" type="light"></Button>
        </div>
        <div class="right">
            <img src="/img/cocheprincipal.png" alt="Coche de alquiler" draggable="false">
        </div>
    </div>
</section>

<style>
    html {
        overflow-x: hidden;
    }

    h1 {
        min-width: 60vw;
    }

    section {
        display: flex;
        flex-direction: column;
        margin-left: 6em;
        max-width: 100%;
    }

    .hero {
        display: flex;
        justify-content: space-between;
        align-items: end;
        overflow: hidden;
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-top: 30px;
    }

    .right {
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 45vw;
        top: 0vw;
        z-index: 0;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        width: 115vh;
    }

    /* Estilos para pantallas pequeñas (dispositivos móviles) */
    @media (max-width: 768px) {
        section {
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 180px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .left {
            margin-bottom: 20px;
            min-width: 0;
        }

        h1 {
            min-width: 0;
        }

        .right {
            left: 90px;
            top: 250px;
            z-index: 0;    
        }

        img {
            width: 90vw;
        }
    }

</style>