---
import Button from "./Button.astro";
---

<section>
    <img src="/img/madrid.svg" alt="">
    <div class="conjunto">
        <div id="text">
            <h2 class="bold">Visita el corazón de <span class="special-font">MADRID</span></h2>
            <Button href="" content="Mira la disponibilidad" type="dark"></Button>
        </div>
        <div class="image">
            <img class="fiat" src="/img/fiat.png" alt="Fiat 500">
        </div>
    </div>
</section>

<style>
    section {
        margin-top: 20vw;
    }

    h2 {
        color: #212121;
        margin-top: 0;
        margin-bottom: 4vw;
    }

    div {
        background-color: #04D0B5;
        margin: 0;
        padding-bottom: 5vw;
    }

    img {
        margin: 0px;
        max-width: 100%;
        width: 100vw;
    }

    .conjunto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -7px;
        max-width: 100%;
    }

    .special-font {
        font-family: 'Dissfunction', normal;
        font-size: 7vw;
        color: #212121;
        margin-top: 0;
        margin-bottom: 3vw;
        font-weight: 300;
    }

    .image {
        mix-blend-mode: darken;
        display: flex;
        justify-content: right;
        align-items: end;
    }

    .fiat {
        max-width: fit-content;
        width: 50vw;
    }

    #text {
        margin-left: 6vw;
    }

    @media (max-width: 768px) {

        .conjunto {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            padding-top: 7vw;
            
        }

        #text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0;
            width: 85%;
        }

        .image {
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
        }

        .fiat {
            width: 75%;
        }
    }

</style>