---
// Navigation.astro
---

<nav class="navbar">
    <div class="nav-container">
        <a href="#" class="logo">
            <?xml version="1.0" encoding="utf-8" ?>
            <img src="/img/logo.svg" />
        </a>
      <button class="hamburger" id="hamburger">
        <!-- Icono de hamburguesa -->
      <svg class="icon icon-hamburger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
      <!-- Icono de cruz -->
      <svg class="icon icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
    </button>
      </button>
    </div>
    <div class="nav-menu" id="nav-menu">
      <a href="#">Alquila</a>
      <a href="#">¿Cómo funciona?</a>
      <a href="#">Planes en Madrid</a>
      <a href="#">Contacto</a>
    </div>
  </nav>
  <div id="overlay" class="overlay"></div>
  
  <!-- para pantallas pequeñas -->
  <style> 
    body {
      margin: 0;
    }

    img {
        max-width: 130px;
    }
  
    .navbar {
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      width: 100%;
      top: 0;
      z-index: 1000;
    }
  
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .hamburger.active .icon-hamburger {
      display: none;
    }

    .hamburger.active .icon-close {
      display: block;
    }

    .overlay.active {
      display: block;
      position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 990;
    }
    
    .hamburger {
        font-size: 30px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        display: block;
        position: relative;
    }

    .icon {
        width: 24px;
        height: 24px;
        z-index: 995;
    }

    .icon-close {
        display: none;
        z-index: 995;
    }
  
    .nav-menu {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: left 0.3s ease;
      z-index: 999;
      flex-wrap: nowrap;
    }
  
    .nav-menu a {
      color: black;
      font-weight: 300;
      text-decoration: none;
      padding: 15px 0;
      width: 100%;
      text-align: center;
    }
  
    .nav-menu.active {
      left: 0;
    }

    .nav-menu.active a:hover {
        background-color: rgb(232, 232, 232);
        border-radius: 15px;
    }

    /* para pantallas grandes */
  
    @media (min-width: 768px) {
      .nav-menu {
        position: static;
        display: flex;
        flex-direction: row;
        height: auto;
        width: auto;
        background-color: transparent;
        transition: none;
    }
    
    .nav-menu a {
        padding: 10px 20px;
        color: white;
    }

    .hamburger {
        display: none;
    }

    .overlay {
        display: none;
    }

    }
  </style>
  
  <script src="/toggleMenu.js" type="module"></script>
  