---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Alquiler de coches en Madrid" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

@font-face {
  font-family: 'General Sans';
  src: url('fonts/GeneralSans-Variable.ttf');
  font-style: normal;
  font-display: swap;
}
	html {
		font-family: 'General Sans', normal;
		background: #212121;
		background-size: cover;
		max-width: 100%;
		width: 100%;
	}
	.bold {
		font-size: 2.7vw;
		font-weight: 700;
	} 

	.normal {
		font-size: 2.7vw;
		font-weight: 500;
	}

	a {
		font-size: 1.2vw;
	}

	h1 {
        color: white;
        font-size: 6vw;
        flex-grow: 1;
        margin-bottom: 2vw; /* Espacio entre el h1 y el botón */
        line-height: 7vw;
        max-width: 60vw;
    }

	@media (max-width: 768px)
	{
		.bold {
			font-size: 4.5vw;
			line-height: 5vw;
		}

		.normal {
			font-size: 4.5vw;
			line-height: 5vw;
		}

		a {
			font-size: 2vw;
		}

		
	}

</style>
